<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>Home - Spring Data Jpa</title>
	</head>
	<body>
		<div class="container">
			<h1>Spring Data Jpa Template</h1>
			<h6>Projeto Java 8 com Spring Data Jpa</h6>
			<hr />			
			<h4>Dependências</h4>
			<ul class="list-unstyled">
				<li>Java 8</li>
				<li>Servlet API 3.1.0</li>
				<li>Spring MVC 5.0.2</li>
				<li>Thymeleaf 3.0.9</li>
			</ul>
		</div>
	</body>
</html>